{% include 'header.html' %}

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<!-- Bootstrap -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

<script>
    $(document).ready(function() {
setTimeout(function() {
    $('.alert').fadeOut('slow');
}, 2000); // <-- time in milliseconds
});
</script>

<style>
.overlay{
  position: absolute;
  top: 25%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 25%;
  height: 25%;
  z-index: 10;
}
</style>

<body>
    <div class="flashwrapper overlay">
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div id=flashwrapper class="alert alert-{{ category }} alert-dismissible" role="alert">{{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close" onClick="close('flashwrapper')">
                    <span aria-hidden="true">&times;</span>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>


    {# *** Allow sub-templates to insert extra html to the bottom of the body *** #}
    {% block extra_js %}{% endblock %}

  </body>
</html>

