{% include 'flask_user_layout.html' %}
  <!-- Jumbotron Of Flatirons -->
    <div class="jumbotron jumbotron-fluid">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-2 solgan-contain">
            <p class="slogan">Live, Shop, Support Local</p>
          </div>
        </div>
      </div>
    </div>

  <!--What Bulletin Offers -->
<div class="container-fluid one">
  <div class="row sub-cat">
    <div class="col-4">
      <div class="card car-round">
        <img class="figure-img img-fluid rounded sub-pics" src="../static//pearlstreet01.jpg" alt="">
        <div class="rounded-bottom" style="padding-top:0px; border-radius:0px 0px 25px 25px;">
          <h5 class="title">Local Goods</h5>
          <p class="card-text">Search through hundredes of products.</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card car-round">
        <img class="figure-img img-fluid rounded sub-pics" src="../static//moving.jpg" alt="">
        <div class="rounded-bottom" style="padding-top:0px; border-radius:0px 0px 25px 25px;">
          <h5 class="title">Local Services</h5>
          <p class="card-text">Check ratings and book appointments online.</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card car-round">
        <img class="figure-img img-fluid rounded sub-pics" src="../static//redrocks.png" alt="">
        <div class="rounded-bottom" style="padding-top:0px; border-radius:0px 0px 25px 25px;">
          <h5 class="title">Local Events</h5>
          <p class="card-text">Musical performances,and meetups.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Community Section -->
 <section id="Community">
  <div class="Boulder-Community">
    <h4 class="com-center">Community Centered</h4>
    <p class="para-com">Be apart of the Boulder community, whether its local festivities, or
      volunteering, you can find it here on Bulletin!
    </p>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="card car-round">
        <img class="figure-img img-fluid entertain sub-pics1" src="../static//entertainment.jpg" alt="Local-Eats">
        <div class="rounded-bottom" style="padding-top:0px; border-radius:0px 0px 25px 25px;">
          <h5 class="title">Entertainment</h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="row">
        <div class="col-6">
          <div class="card side-card car-round">
            <img class="figure-img img-fluid rounded sub-pics1" src="../static//kitchen.jpg" alt="entertainment">
            <div class="rounded-bottom" style="padding-top:0px; border-radius:0px 0px 25px 25px;">
              <h5 class="title">Local Eats</h5>
              <p></p>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="card side-card car-round">
            <img class="figure-img img-fluid rounded sub-pics1" src="../static//running.jpg" alt="Running">
            <div class="rounded-bottom" style="padding-top:0px; border-radius:0px 0px 25px 25px;">
              <h5 class="title">Get Active</h5>
              <p></p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col-12">
            <div class="card car-round">
              <img class="figure-img img-fluid rounded sub-pics1" src="../static//service_community.jpg" alt="Running">
              <div class="rounded-bottom" style="padding-top:0px; border-radius:0px 0px 25px 25px;">
                <h5 class="title">Volunteering</h5>
                <p></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
<!-- Seasonal -->
</body>
</html>